<nav class="navbar" style="background-color: whitesmoke;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">VivaRecife</a>
    </div>
    <ul class="nav navbar-nav">
      <li id="home_button"><%= link_to "Home", home_index_path %></li>
      <li id="search_button"><%= link_to "Buscar", buscar_index_path %></li>
      <li id="bairros_button"><%= link_to "Bairros", bairros_index_path %></li>
      <li id="sobre_button"><%= link_to "Sobre", sobre_index_path %></li>
      <li id="contato_button"><%= link_to "Contato", contato_index_path %></li>
    </ul>
  </div>
</nav>

